<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>廠商與優惠券管理系統</title>
<link rel="stylesheet" href="../css/MtifServlet.css">
</head>
<body>
<div class="wrapper">
    <div class="table-wrapper">

        <div class="table-title">廠商與優惠券管理系統</div>

        <table class="jy-table">
            <thead>
                <tr>
                    <th>功能</th>
                    <th>連結</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>廠商管理</td>
                    <td><a href="/GetAllMerchant">前往</a></td>
                </tr>
                <tr>
                    <td>優惠券管理</td>
                    <td><a href="/GetAllDiscount">前往</a></td>
                </tr>
            </tbody>
            
        </table>

    </div>
</div>
</body>
</html>